<div class="bg-gray-50 min-h-screen flex flex-col">
  <app-header></app-header>
  <main class="flex-1 pb-14 bg-bottom bg-no-repeat bg-[size:100%_auto]" [style.background-image]="isDataLoaded ? 'url(assets/arena.png)' : 'none'">
    <app-warning></app-warning>
    <app-filters (filtersChanged)="eventList.onFiltersChanged($event)"></app-filters>
    <app-event-list #eventList (dataLoaded)="onDataLoaded()"></app-event-list>
  </main>
  <app-footer></app-footer>
  <app-opera-modal></app-opera-modal>
</div>
<router-outlet></router-outlet>