<footer class="bg-gradient-to-r from-black to-[#003366] text-gray-300 text-center py-6 border-t-4 border-[#ca8a04]">
  <div class="max-w-6xl mx-auto px-6 flex flex-col sm:flex-row items-center justify-between">
    <div class="flex-1 flex flex-col items-center justify-center">
      <p class="text-base mb-4 text-gray-300 font-roboto">
        Si este proyecto te ha gustado, puedes invitarme a un prosecco en la <span id="footer-edition">{{ footerEdition }}</span> edición del festival de ópera en la Arena de Verona. Grazie Mile!
      </p>
      <a href="https://buymeacoffee.com/juanjohigub" target="_blank" rel="noopener noreferrer" class="inline-block">
        <button class="btn-primary flex items-center space-x-2 font-medium text-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.46 148.22" class="w-3 h-6">
                <path d="M45.85,85.24c5.61-3.8,14.84-9.77,19.91-30.4C71.85,30.07,59.61,0,59.61,0H7.85S-4.39,30.07,1.7,54.84c5.07,20.63,14.3,26.6,19.91,30.4,5.61,3.8,7.96,8.14,7.96,16.29v39.27c-21.35-.18-23.53,7.42-23.53,7.42h55.38s-2.17-7.6-23.53-7.42v-39.27c0-8.14,2.35-12.49,7.96-16.29Z"/>
            </svg>
            <span>Invítame a un prosecco</span>
        </button>
      </a>
    </div>
    <!-- Separador de línea que se adapta según el tamaño de la pantalla -->
    <div class="divider-line"></div>
    <div class="flex-1 flex flex-col items-center justify-center mt-4 sm:mt-0">
      <p class="text-base mb-4 font-roboto">Developed by juanjohigueras.com</p>
      <div class="inline-block bg-white rounded-xl p-3 shadow-md">
        <a href="https://www.juanjohigueras.com" target="_blank" rel="noopener noreferrer">
          <img src="assets/logo-juanjo-white.png" alt="Logo Juanjo Higueras" class="h-10 mx-auto">
        </a>
      </div>
    </div>
  </div>
</footer>